---
import PostPreview from './PostPreview.astro';
import A from './A.astro';
import { getSortedPosts } from '../lib/content-helpers';

const allPosts = await getSortedPosts();
const postCount = allPosts.length;
---

<ul id="blog-preview" role="list">
  {
    allPosts
      .slice(0, 2)
      .map((post) => (
        <PostPreview
          href={`/blog/${post.id}/`}
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
          tags={post.data.tags}
          headingLevel="h3"
        />
      ))
  }
</ul>
<span class="punct">
  {postCount} posts written so far, see full index at https://hawksley.dev/blog/</span
>
<A href="/blog/" pressable>View all posts <span aria-hidden="true">→</span></A>

<style>
  #blog-preview {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .punct {
    display: none;
  }
</style>
