---
import A from './A.astro';
import PostPreview from './PostPreview.astro';
import { getSortedPosts } from '../utils/content-helpers';

const allPosts = await getSortedPosts();
const postCount = allPosts.length;
---

<ul role="list">
  {
    allPosts
      .slice(0, 2)
      .map((post) => (
        <PostPreview
          href={`/blog/${post.id}/`}
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
          tags={post.data.tags}
          headingLevel="h3"
        />
      ))
  }
</ul>
<A href="/blog/" pressable>View all posts ({postCount})</A>

<style>
  ul {
    display: flex;
    flex-direction: column;
  }
</style>
